{% extends 'base.html.twig' %}

{% block title %}Employee{% endblock %}

{% block body %}
    <h1>Employee</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ employee.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ employee.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ employee.prenom }}</td>
            </tr>
            <tr>
                <th>CodeNir</th>
                <td>{{ employee.codeNir }}</td>
            </tr>
            <tr>
                <th>Nom d'équipe :</th>
                <td>
                    {% for team in employee.teams %}
                    {{ team.nom }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Chef d'équipe :</th>
                <td>
                    {% for chef in employee.directedTeams %}
                        {{ chef.nom }}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('employee_index') }}">back to list</a>

    <a href="{{ path('employee_edit', {'id': employee.id}) }}">edit</a>

    {{ include('employee/_delete_form.html.twig') }}
{% endblock %}
